<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form id="frm">
		<p:messages autoUpdate="true" />
		<p:panelGrid columns="2">

			<p:outputLabel value="Login:" for="login" />

			<h:panelGroup>
				<p:inputText id="login" value="#{cadastroUsuarioBean.login}"
					required="true" />
				<p:commandButton value="Verificar Disponibilidade"
					action="#{cadastroUsuarioBean.verificarDisponibilidadeLogin}"
					process="login @this" />
			</h:panelGroup>

			<p:outputLabel value="Nome" for="nome" />
			<p:inputText id="nome" value="#{cadastroUsuarioBean.nome}"
				required="true" />

		</p:panelGrid>

		<p:commandButton value="Cadastrar"
			action="#{cadastroUsuarioBean.cadastrar}" />

	</h:form>

</h:body>
</html>





