<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo, rotulo, campo">
	
		<p:outputLabel value="Número" />
		<h:outputText value="12345" />
		
		<p:outputLabel value="Data de criação" />
        <h:outputText value="08/06/2013" />
        
        <p:outputLabel value="Status"/>
        <h:outputText value="Orçamento" />
        
        <p:outputLabel value="Vendedor" for="vendedor"/>
        <p:selectOneMenu id="vendedor">
            <f:selectItem itemLabel="Selecione" />
            <f:selectItem itemLabel="João das Couves Júnior" />
        </p:selectOneMenu>
        
        <p:outputLabel value="Cliente" for="cliente"/>
        <p:autoComplete id="cliente" size="40" dropdown="true" />
        
        <p:outputLabel value="Forma de pagamento" for="formaPagamento"/>
        <p:selectOneMenu id="formaPagamento">
            <f:selectItem itemLabel="Selecione" />
            <f:selectItem itemLabel="Cartão de crédito" />
        </p:selectOneMenu>
        
        <p:outputLabel value="Valor do frete" for="valorFrete"/>
        <p:inputText id="valorFrete" size="10" maxlength="10" />
        
        <p:outputLabel value="Subtotal" style="font-weight: bold"/>
        <h:outputText value="R$ 0,00" style="font-weight: bold" id="subtotal" />
        
        <p:outputLabel value="Valor de desconto" for="valorDesconto"/>
        <p:inputText id="valorDesconto" size="10" maxlength="10" />
        
        <p:outputLabel value="Total do pedido" style="font-weight: bold; font-size: 1.1em"/>
        <h:outputText value="R$ 0,00" style="font-weight: bold; font-size: 1.1em" id="totalPedido" />
	
	</p:panelGrid>
  	
</ui:composition>