<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<h:panelGroup layout="block" style="padding-right: 15px;padding-left: 10px;">
		<p:inputTextarea rows="10" style="width: 100%" >
		</p:inputTextarea>
	</h:panelGroup>
	
</ui:composition>