<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="titulo">Cadastro de Cliente</ui:define>
	<ui:define name="corpo">
		<h2>Cadastro de Cliente</h2>
		
		<p:toolbar style="margin-top: 20px">
			<p:toolbarGroup>
				<p:button value="Novo" outcome="/clientes/CadastroCliente" />
				<p:commandButton value="Salvar" id="botaoSalvar"/>
			</p:toolbarGroup>
			
			<p:toolbarGroup align="right">
				<p:button value="Pesquisa" />
			</p:toolbarGroup>
		</p:toolbar>
		
		<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px" 
					 columnClasses="rotulo, campo" rowClasses="cel-radio" styleClass="sem-bordas" >
					 
			<p:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" size="80" maxlength="250"/>
			
			<p:outputLabel value="E-mail" for="email"/>
			<p:inputText id="email" size="80" maxlength="150"/>	
			
			<p:outputLabel value="Senha" for="senha"/>
			<p:password id="senha"/>
			
			<p:selectOneMenu id="grupoUsuario">
				<f:selectItem itemLabel="Administrador"/>
			</p:selectOneMenu>
			<p:commandButton value="Adicionar Grupo"/>
		</p:panelGrid>	
		
		<p:dataTable id="tabelaGrupoUsuario" value="#{pesquisaProdutosBean.produtosFiltrados}" var="grupoUsuario"
					 style="margin-top: 20px" emptyMessage="Nenhum grupo Encontrado!" rows="15" 
					 paginator="true" paginatorAlwaysVisible="false" paginatorPosition="top">
					 
			<p:column headerText="Grupo" style="text-align: center; width: 100px">
				<h:outputText value="Auxiliares"/>
			</p:column>
			<p:row>
					<h:outputText value="Vendedores"/>
				</p:row>
			
			<p:column headerText="Vendedores" style="text-align: center; width: 100px">
				<h:outputText value="Vitor"/>
			</p:column>
			
			<p:column style="text-align: center; width: 30px">
				<p:commandButton icon="ui-icon-trash" title="Excluir"/>
			</p:column>

		</p:dataTable>
		
		
		
    </ui:define>
</ui:composition>