<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
            
      <ui:define name="titulo">Cadastro de Equipamentos</ui:define> 
      <ui:define name="corpo">
     		
		<p:toolbar style="margin-top: 40px">
					<f:facet name="left">
						<p:commandButton value="Pesquisar" />
						<p:button value="Salvar" />
					</f:facet>
					
					<f:facet name="right">
						<p:button value="Novo" />
					</f:facet>
		</p:toolbar>
			   
      </ui:define>
</ui:composition>

