<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
            
      <ui:define name="titulo">Cadastro de Equipamentos</ui:define> 
      <ui:define name="corpo">
     		
		<p:button value="Adicionar produto" onclick="PF('inclusaoProdutoDialog').show(); return false;" />
		
		<p:dataTable value="#{produtosBean.produtos}" var="produto" id="produtosTable"
				     emptyMessage="Não existem produtos.">
			<p:column headerText="Produto">
				<h:outputText value="#{produto}"/>
			</p:column>
		</p:dataTable>
		
		<p:dialog header="Adiciona produto" widgetVar="inclusaoProdutoDialog"
			      modal="true" resizable="false">
			<h:panelGroup id="inclusaoPanel">
				<p:messages/>
				
				<h:panelGrid columns="2">
					<p:outputLabel value="Nome" />
					<p:inputText value="#{produtosBean.nomeProduto}" required="true"
						         requiredMessage="Informe o nome do produto." />
				</h:panelGrid>
				
				<p:commandButton value="Incluir" action="#{produtosBean.incluirProduto}"
					             update="produtosTable inclusaoPanel" 
					             oncomplete="tratarInclusaoProduto(args)" />
			</h:panelGroup>
		</p:dialog>
			   
      </ui:define>
</ui:composition>

