<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
	<h:outputStylesheet library="css" name="stylesheet.css" />
</h:head>
<h:body>

	<h:form>
	<p:messages/>
		<p:panelGrid columns="2" id="frm" styleClass="posicao">
			<p:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" value="#{selectManyCheckbox.nome}"/>
			
			<p:outputLabel value="Interesses" for="interesses"/>
			<p:selectManyCheckbox id="interesses" value="#{selectManyCheckbox.interesses}" 
								  required="true" styleClass="sem-bordas" layout="pageDirection">
			
				<f:selectItem itemLabel="Música" itemValue="1" />
				<f:selectItem itemLabel="Desenho" itemValue="2" />
				<f:selectItem itemLabel="Corrida" itemValue="3" />
				<f:selectItem itemLabel="Luta" itemValue="4" />
			</p:selectManyCheckbox>

		</p:panelGrid>
		<p:commandButton value="Cadastrar" action="#{selectManyCheckbox.cadastrar}" update="@form"/>
	</h:form>

</h:body>
</html>





