<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<ui:define name="titulo">Novo Pedido</ui:define>
	
	<ui:define name="corpo">
		<h:form>
		<p:messages autoUpdate="true" closable="true" />
			<h2>Novo Pedido</h2>
			
			<ui:include src="/WEB-INF/template/pedidos/BotoesPedidos.xhtml"/>
			<ui:include src="/WEB-INF/template/pedidos/CapaPedidos.xhtml"/>
			
			<p:tabView style="margin-top: 20px">
				<p:tab title="Itens">
					<ui:include src="/WEB-INF/template/pedidos/ItensPedidos.xhtml"/>
				</p:tab>
				
				<p:tab title="Entrega">
					<ui:include src="/WEB-INF/template/pedidos/DadosEntregaPedidos.xhtml"/>
				</p:tab>
				
				<p:tab title="Observação">
					<ui:include src="/WEB-INF/template/pedidos/ObservacaoPedidos.xhtml"/>
				</p:tab>
			</p:tabView>
			
		</h:form>
	</ui:define>
</ui:composition>