@CHARSET "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 70px;
	
	background: #f2f2f2;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px;
	margin-top: -10px
}

#conteudo {
	padding: 0px 8px;
	
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 100px
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}


footer {
	padding: 0px 8px;
	margin-bottom: 10px;
	font-family: 'Audiowide', cursive;
	font-size: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

.rotulo {
	width: 150px;	
}

h2{ 
	font-family: 'Audiowide', cursive;
	font-size: 20px
}

.ui-panelgrid td {
	height: 34px
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px	
}

.cel-radio {
	padding: 10px
}

.sem-bordas td {
	border: none;
	padding: 5px;
}

.produto-tabela input {
	width: 630%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.2em !important;
}

.ui-tabs {
    padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0px !important;
}
/* Customiza TabView - fim */


.ui-datatable-tablewrapper {
	color: #d12626;
}

/* Menu sistema inicio */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: #bfbfbf!important;
    margin-top:10px;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #1A0000 !important;
}
/* Menu sistema fim */


/* Configuração da imagem de ilustração na página de status */
/* #########################################################*/
.ilustracao {
	margin-top: 20px;
}
/* #########################################################*/


/* Imagem Rotacional */
/* #########################################################*/
.rotate img {
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.rotate img:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* #########################################################*/


