<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputScript library="script" name="pt.js" />
	<title>Calendar</title>
</h:head>
<h:body>

	<h:form>
		<p:panelGrid columns="2">
		
			<p:outputLabel value="Nome:" for="nome"/>
			<p:inputText id="nome" value="#{calendarBean.nome}" required="true"/>
		
			<p:outputLabel value="Data de Nascimento:" for="dataNascimento"/>
			<p:calendar id="dataNascimento" required="true" value="#{calendarBean.dataNascimento}" 
						pattern="dd/MM/yyyy" mindate="01/01/1500" readonlyInput="true" navigator="true" pages="1" 
						mode="popup" locale="pt" effect="drop" yearRange="c-100:c" effectDuration="slow"
						onmousemove="true" />
		
		</p:panelGrid>
		<p:commandButton value="Cadastrar" action="#{calendarBean.cadastrar}" update="@form"/>

	</h:form>

</h:body>
</html>





