<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<ui:define name="titulo">Novo Produto</ui:define>
	<ui:define name="corpo">
		<h2>Novo Produto</h2>
		
		<p:toolbar style="margin-top: 20px">
			<f:facet name="left">
				<p:button value="Novo" outcome="/produtos/CadastroProduto" />
				<p:commandButton value="Salvar" id="botaoSalvar" />
			</f:facet>
			
			<f:facet name="right">
				<p:button value="Pesquisa" outcome="/produtos/PesquisaProduto"/>
			</f:facet>
		</p:toolbar>
		
		<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px" 
					 columnClasses="rotulo, campo">
					 
			<p:outputLabel value="SKU" for="sku"/>
			<p:inputText id="sku" size="20" maxlength="20"/>
			
			<p:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" size="60" maxlength="80"/>
			
			<p:outputLabel value="Categoria" for="categoria"/>
			<p:selectOneMenu id="categoria">
				<f:selectItem itemLabel="Selecione a Categoria"/>
			</p:selectOneMenu>
			
			<p:outputLabel value="Subcategoria" for="subCategoria"/>
			<p:selectOneMenu id="subCategoria">
				<f:selectItem itemLabel="Selecione a Categoria"/>
			</p:selectOneMenu>
			
			<p:outputLabel value="Valor Unitário" for="valorUnitario"/>
			<p:inputText id="valorUnitario" size="10" maxlength="10" styleClass="moeda"/>
		
			<p:outputLabel value="Quantidade Estoque" for="quantidadeEstoque"/>
			<p:inputText id="quantidadeEstoque" size="10" maxlength="3"/>
			
		</p:panelGrid>
		
		
	</ui:define>

</ui:composition>