<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
      
      	<h:head>
        	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        	<title><ui:insert name="titulo">SPIn</ui:insert></title>
        	<h:outputStylesheet library="css" name="stylesheet.css"></h:outputStylesheet>
			<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'></link>       	
		</h:head>
      
      <body>
      
	      <p:ajaxStatus styleClass="ajax-status">
	      		<f:facet name="start">
	      			<h:graphicImage library="images" name="loading.gif"/>
	      		</f:facet>	 
	      		<f:facet name="complete">
	      			<h:outputText value=""/>
	      		</f:facet>     	
	      </p:ajaxStatus>
      
      	<header>
      		<div>
      			<h:link>
      				<h:graphicImage library="images" name="logo.png" /> 
      			</h:link>
      		</div>
      	</header>  
      	
      	 <div id="conteudo">
      		<ui:insert name="corpo"/>
      	</div>
      
      	<p:separator style="margin-top: 20px" />
      
      	<footer>
      		SPIn - Sistema de Plantações Inteligente e Soluções para o Agronegócio
	  		<a href="http://bit.ly/Y8saFl" target="_blank"></a>
      	</footer>  
      	     	 
      </body>           
</html>