@CHARSET "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 70px;
	background: #3e7b25;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px;
	margin-top: -10px;
}

#conteudo {
	padding: 0px 8px;
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 100px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
	font-family: 'Audiowide', cursive;
	font-size: 10px;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

.rotulo {
	width: 150px;
}

h2 {
	font-family: 'Audiowide', cursive;
	font-size: 20px;
}

.ui-panelgrid td {
	height: 34px;
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px;
}

.cel-radio {
	padding: 10px;
}

.sem-bordas td {
	border: none;
	padding: 5px;
}

.produto-tabela input {
	width: 630%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em !important;
}

.ui-tabs {
	padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top > .ui-tabs-nav {
	padding: 0px !important;
}
/* Customiza TabView - fim */


.ui-datatable-tablewrapper {
	color: #d12626;
}

/* Menu sistema inicio */
.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: #bfbfbf!important;
	margin-top: 10px;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
	color: #1A0000 !important;
}
/* Menu sistema fim */


/* Configuração da imagem de ilustração na página de status */
/* #########################################################*/
.ilustracao {
	margin-top: 20px;
}
/* #########################################################*/


/* Imagem Rotacional */
/* #########################################################*/
.rotate img {
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.rotate img:hover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
/* #########################################################*/

.ui-menuitem-icon {
	padding-right: 5px;
	background: url(#{resource['images:icon/user.png']}) no-repeat !important;
}

.animated {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
 
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
	};
}

@keyframes bounce {
 
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	};
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

/* Icone de mensagem de erro ao violar uma restrição */
.ui-messages-error-icon {
	height: 48px !important;
	width: 48px !important;
	padding: 5px !important;
	background: url(#{resource['images:icon/warning.png']}) no-repeat !important;
}

.ui-messages ul {
	margin: 0 60px !important;
	color: #r3r3r3;
}