<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<ui:define name="titulo">Pesquisa de Produto</ui:define>
	<ui:define name="corpo">
		<h2>Pesquisa de Produtos</h2>
		
		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<f:facet name="left">
					<p:commandButton value="Pesquisar" />
				</f:facet>
				
				<f:facet name="right">
					<p:button value="Novo" outcome="/produtos/CadastroProduto" />
				</f:facet>
			</p:toolbar>
			
			<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px" 
						 columnClasses="rotulo, campo">
						 
				<p:outputLabel value="SKU" for="sku"/>
				<p:inputText id="sku" size="20" maxlength="20"/>
				
				<p:outputLabel value="Nome" for="nome"/>
				<p:inputText id="nome" size="60" maxlength="80"/>
				
			</p:panelGrid>
		</h:form>
		
		<p:dataTable id="tabelaProdutos" value="#{pesquisaProdutosBean.produtosFiltrados}" var="produto"
					 style="margin-top: 20px" emptyMessage="Nenhum produto Encontrado!" rows="15" 
					 paginator="true" paginatorAlwaysVisible="false" paginatorPosition="top">
					 
			<p:column headerText="SKU" style="text-align: center; width: 100px">
				<h:outputText value="123"/>
			</p:column>
			
			<p:column headerText="Sistema de Monitoramento" style="text-align: center; width: 100px">
				<h:outputText value="SPin"/>
			</p:column>
			
			<p:column headerText="Categoria" style="text-align: center; width: 250px">
				<h:outputText value="Monitoramento"/>
			</p:column>
			
			<p:column headerText="Valor Unitário" style="text-align: center; width: 100px">
				<h:outputText value="R$5000,00"/>
			</p:column>
			
			<p:column headerText="Estoque" style="text-align: center; width: 30px">
				<h:outputText value="120"/>
			</p:column>
			
			<p:column style="text-align: center; width: 30px">
				<p:button icon="ui-icon-pencil" title="Editar"/>
				<p:commandButton icon="ui-icon-trash" title="Excluir" 
				                 oncomplete="PF('confirmacaoExclusao').show()"/>
			</p:column>

		</p:dataTable>
		
		<p:confirmDialog header="Ecluir produto" message="Tem certeza que deseja Ecluir este produto?"
						 widgetVar="confirmacaoExclusao">
			<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;"/>
			<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide()"/>
		</p:confirmDialog>
		
		
	</ui:define>

</ui:composition>