<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form>
		<p:panelGrid columns="2">

		<p:outputLabel value="Nome" for="nome"/>
		<p:inputText id="nome" value="#{perfilUsuario.nome}"/>
		
		<p:outputLabel value="Profissao" for="profissao"/>
		<p:selectOneMenu id="profissao" value="#{perfilUsuario.profissao}"/>
			<f:selectItem itemLabel="Estudante" itemValue="1"/>
			<f:selectItem itemLabel="Professor" itemValue="2"/>
			<f:selectItem itemLabel="Médico" itemValue="3"/>
			<f:selectItem itemLabel="Outro" itemValue="4"/>
		</p:selectOneMenu>
		
		</p:panelGrid>

	</h:form>
	<p:commandButton value="Cadastrar" action="#{perfilUsuario.cadastrar}" update="@form"/>

</h:body>
</html>





