<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Dashboard</ui:define>
	<ui:define name="corpo">
		
		<h2>
			<br/> <br/>SPIn - Sistema de Plantações Inteligente e Soluções para o Agronegócio<br/> <br/>
		</h2>
		
		<p:galleria value="#{imagesView.images}" var="image" panelWidth="500" panelHeight="313" showCaption="true" >
    		<p:graphicImage name="/images/nature/#{image}" alt="Image Description for #{image}" title="#{image}"/>
		</p:galleria>
	
	
	
	</ui:define>

</ui:composition>