<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml" 
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
            
      <ui:define name="titulo">Login</ui:define>
            
                 
      <ui:define name="corpo">
      	     
      	     <div id="login-dialog">
      	     	<H2>Login</H2>
      	     	
      	     	<h:form id="frm">
      	     		<h:panelGrid columns="2" styleClass="grid-login">
      	     			<p:outputLabel value="E-mail"/>
      	     			<p:inputText size="30"/>
      	     			
      	     			<p:outputLabel value="Senha" />
      	     			<p:password size="30"/>
      	     			
      	     			<h:panelGroup></h:panelGroup>
      	     			
      	     			<p:commandButton value="Login"/>
      	     		</h:panelGrid>
      	     	</h:form>
      	     </div>
     </ui:define>
          
</ui:composition>