<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<style>
		body{
			font-size: 12px;
			font-family: Arial, Helvetica, sans-serif;
			margin: 0px;
			font-weight: normal;
		}
		
		.ajax-style {
			width: 47px;
			height: 47px;
			position: fixed;
			right: 10px;
			top: 600px;			
		}
		
	</style>
	
</h:head>
<h:body>

	<h:form id="frm">
	
	<p:ajaxStatus styleClass="ajax-style">
			<f:facet name="start">
				<h:graphicImage library="imagens" name="loading.gif" />
			</f:facet>
			<f:facet name="complete">
				<h:outputText value="" />
			</f:facet>
		</p:ajaxStatus>
	
		<p:dataTable value="#{funcionariosBean.funcionarios}" var="funcionario" 
					 sortBy="#{funcionario.matricula}" rows="15" paginator="true"
					 paginatorPosition="top" rowsPerPageTemplate="10, 20, 30, 40, 50, 100">
					 
			<p:column headerText="Matrícula" style="text-align: center" width="90" 
					  sortBy="#{funcionario.matricula}">
				<h:outputText value="#{funcionario.matricula}"/>
			</p:column>
			
			<p:column headerText="Nome" sortBy="#{funcionario.nome}">
				<h:outputText value="#{funcionario.nome}"/>
			</p:column>
			
			<p:column headerText="Data de admissão" width="180" style="text-align: center"
					  sortBy="#{funcionario.dataAdmissao}">
				<h:outputText value="#{funcionario.dataAdmissao}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:outputText>
			</p:column>
			
			<p:column headerText="Salário" width="140" style="text-align: right" 
			          sortBy="#{funcionario.salario}">
				<h:outputText value="#{funcionario.salario}">
					<f:convertNumber type="currency" locale="pt_BR"/>
				</h:outputText>
			</p:column>
			
		</p:dataTable>
	</h:form>

</h:body>
</html>