<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<ui:define name="titulo">Cadastro de Cliente</ui:define>
	
	<ui:define name="corpo">
			
		 <div class="rotate">
			<h:graphicImage library="images" name="logoGigante.png" />
		</div>

	</ui:define>
	
</ui:composition>