<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
	
	<style>
		body{
			font-size: 12px;
			font-family: Arial, Helvetica, sans-serif;
			margin: 0px;
			font-weight: normal;
		}
		.ui-tabs.ui-tabs-left > .ui-tabs-nav li {
  			margin-top: 5px;
		}
	</style>
		
</h:head>
<h:body>

	<h:form id="frm">
		<p:tabView activeIndex="1" orientation="left" effect="fade" effectDuration="fast" dynamic="true"
				cache="false"> 
			<p:tab title="Dados pessoais" disabled="false" >
                <h:panelGrid columns="2" cellpadding="4">
                    <p:outputLabel value="Nome" for="nome"/>
                    <p:inputText id="nome" size="40" />

                    <p:outputLabel value="E-mail" for="email"/>
                    <p:inputText id="email" size="40" />

                    <p:outputLabel value="Telefone" for="telefone"/>
                    <p:inputText id="telefone" size="15" />
                </h:panelGrid>
			</p:tab>
			<p:tab title="Endereço">
                <h:panelGrid columns="2" cellpadding="4">
                    <p:outputLabel value="Logradouro" for="logradouro" />
                    <p:inputText id="logradouro" size="60" />

                    <p:outputLabel value="Número" for="numero" />
                    <p:inputText id="numero" size="10" />

                    <p:outputLabel value="Bairro" for="bairro" />
                    <p:inputText id="bairro" size="30" />

                    <p:outputLabel value="Cidade" for="cidade"/>
                    <p:inputText id="cidade" size="30" />
                </h:panelGrid>
                
                <h:outputText value="#{dataBean.dataAtual}">
					<f:convertDateTime pattern="HH:mm:ss"/>
				</h:outputText>
				
			</p:tab>
		</p:tabView>
	</h:form>
</h:body>
</html>





