<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

	<h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="titulo">SPIn</ui:insert></title>
        <h:outputStylesheet library="css" name="sistema.css" />
        <h:outputScript library="js" name="jquery.maskMoney.js"/>
        <h:outputScript library="js" name="tratarInclusaoProduto.js"/>
    	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'></link>    
	</h:head>

	<h:body>
		<p:ajaxStatus styleClass="ajax-status" onsuccess="configurarMoeda()">
			<f:facet name="start">
				<h:graphicImage library="images" name="loading.gif"/>
			</f:facet>
			<f:facet name="complete">
				<h:outputText value=""/>
			</f:facet>
		</p:ajaxStatus>
	
		<header>
			<div>
				<h:link>
					<h:graphicImage library="images" name="logo.png" />
				</h:link>
			</div>
		</header>

		<div id="conteudo">
			<ui:insert name="corpo"/>
		</div>
		
		
		
		<footer>
			<p:separator style="margin-top: 20px"/>
			SPIn - Sistema de Plantações Inteligente e Soluções para o Agronegócio 
		</footer>
		
		<script>
			function configurarMoeda() {
				$(".moeda").maskMoney({ decimal: ",", thousands: ".", allowZero: true });
			}
			
			$(document).ready(function() {
				configurarMoeda();
			});
		</script>
	</h:body>
	
</html>