<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form id="frm">
		<p:messages />

		<p:panelGrid columns="2">
			<p:outputLabel value="Login" for="login" />
			<p:inputText id="login" required="true" value="#{perfilUsuarioBean.login}" />

			<p:outputLabel value="Senha" for="senha" />
			<p:password id="senha" required="true" value="#{perfilUsuarioBean.senha}"
						feedback="true" weakLabel="Fraca" goodLabel="Boa" strongLabel="Forte"
						promptLabel="Informe a Senha" inline="true" match="confirmaSenha"/>
						
			<p:outputLabel value="Confirma a Senha" for="confirmaSenha" />
			<p:password id="confirmaSenha" required="true" />
			
		</p:panelGrid>
		<p:commandButton value="Atualizar" action="#{perfilUsuarioBean.atualizar}" update="@form" />

	</h:form>

</h:body>
</html>





