<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<ui:define name="titulo">Pesquisa de Pedidos</ui:define>
	<ui:define name="corpo">
		<h2>Pesquisa de Pedidos</h2>
		
		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<f:facet name="left">
					<p:commandButton value="Pesquisar" />
				</f:facet>
				
				<f:facet name="right">
					<p:button value="Novo" outcome="/pedidos/CadastroPedidos"/>
				</f:facet>
			</p:toolbar>
			
			<p:panelGrid columns="2" id="painel" style="width: 90%; margin-top: 20px" 
						 columnClasses="rotulo, campo">
						 
				<p:outputLabel value="Número" />
				<h:panelGroup>
					<p:inputText size="10" />
					a
					<p:inputText size="10" />
				</h:panelGroup>
				
				<p:outputLabel value="Data" />
				<h:panelGroup>
					<p:calendar size="10" pattern="dd/MM/yyyy" maxdate="today" />
					a
					<p:calendar size="10" pattern="dd/MM/yyyy" maxdate="today" />
				</h:panelGroup>
				
				<p:outputLabel value="Vendedor" for="vendedor"/>
				<p:inputText id="vendedor" size="30" />
				
				<p:outputLabel value="Cliente" for="cliente"/>
				<p:inputText id="cliente" size="30" />
				
				<p:outputLabel value="Status" />
				<p:selectManyCheckbox>
					<f:selectItem itemLabel="Orçamento" />
					<f:selectItem itemLabel="Emitido" />
					<f:selectItem itemLabel="Cancelado" />
				</p:selectManyCheckbox>	
			</p:panelGrid>
			
			<p:dataTable id="pedidosTable" value="#{pesquisaPedidosBean.pedidosFiltrados}" var="pedido"
						 style="margin-top: 20px" emptyMessage="Vazio!" rows="20" paginator="true"
						 paginatorAlwaysVisible="false" paginatorPosition="top">
						 
				<p:column headerText="Número" style="text-align: center; width: 100px">
					<h:outputText value="12345"/>
				</p:column>
				
				<p:column headerText="Cliente" style="text-align: center; width: 100px">
					<h:outputText value="Morangos SA"/>
				</p:column>
				
				<p:column headerText="Vendedor" style="text-align: center; width: 100px">
					<h:outputText value="Vitor"/>
				</p:column>
								
				<p:column headerText="Data Criação" style="text-align: center; width: 140px">
					<h:outputText value="06/12/2013"/>
				</p:column>
				
				<p:column headerText="Valor Total" style="text-align: center; width: 140px">
					<h:outputText value="R$1500.22"/>
				</p:column>
				
				<p:column headerText="Status" style="text-align: center; width: 140px">
					<h:outputText value="Emitido"/>
				</p:column>
				
				<p:column style="text-align: center; width: 50px">
					<p:button icon="ui-icon-pencil" title="Editar"/>
				</p:column>
			</p:dataTable>
			
		</h:form>
		
	</ui:define>

</ui:composition>