<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>MenuBar</title>
	
	<style>
		.busca{
			background-image: url(#{resource['images:search.png']}) !important;
		}
	</style>
	
</h:head>
<h:body>

	<h:form>
		<p:menubar autoDisplay="false" >
			<p:submenu label="Cadastro">
				<p:submenu label="Funcionários">
					<p:menuitem value="Novo"/>
					<p:menuitem value=" Pesquisa" icon="busca" url="http://www.google.com"/>
					
				</p:submenu>
			</p:submenu>
	
			<p:submenu label="Perfil" >
				<p:menuitem value="Dados pessoais"/>
				<p:separator/>
				<p:menuitem value="Endereços"/>
				<p:menuitem value="E-Mail"/>
			</p:submenu>
			<p:menuitem value="Sair"/>
		</p:menubar>
	</h:form>

</h:body>
</html>





