header{
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 70px;
	
	background: #f2f2f2;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

body{
	font-size: 12px;
	font-family: 'Audiowide', cursive;
	margin: 0px;
	font-weight: normal;
}
		
.cel-radio{
	padding: 100px;
}

h2{ 
	font-family: 'Audiowide', cursive;
	font-size: 20px
}

header > div{
	margin-left: 8px;
	margin-top: -10px
}

#j_idt17{
	font-family: 'Audiowide', cursive;
	font-size: 13px
}