<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Painel de Dados</title>
	<h:outputStylesheet library="css" name="stylesheet.css"></h:outputStylesheet>
</h:head>
<h:body>
	
	<p:messages/>
	<h:form id="frm">
	<p:tabView orientation="top" effect="fade" effectDuration="slow">
		<p:tab title="Dados principais">
		
			<h:panelGrid columns="2" cellpadding="4" rowClasses="cel-radio">
			
            	<p:outputLabel value="Razão Social" for="razaoSocial"/>
                <p:inputText id="razaoSocial" size="40" />

				<p:outputLabel value="CNPJ" for="cnpj"/>
				<p:inputMask mask="99.999.999/999-99" id="cnpj" size="20"/>
					
                <p:outputLabel value="Cidade do Contrato" for="cidadeContrato"/>
                <p:inputText id="cidadeContrato" size="30" />
                
                <p:outputLabel value="Modalidade" for="modalidade" />
				<h:panelGroup>
					<p:selectOneRadio id="modalidade">
						<f:selectItem itemLabel="EaD" />
						<f:selectItem itemLabel="Presencial" />
					</p:selectOneRadio>
				</h:panelGroup>

        	</h:panelGrid>
		</p:tab>
	</p:tabView>

	</h:form>

</h:body>
</html>