<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:define name="titulo">Cadastro de Cliente</ui:define>
	<ui:define name="corpo">
		<h2>Painel de Dados</h2>
		
		<p:tabView orientation="top" effect="fade" effectDuration="slow">
		<p:tab title="Dados principais">
		
			<h:panelGrid columns="2" cellpadding="4" rowClasses="cel-radio">
			
            	<p:outputLabel value="Razão Social" for="razaoSocial"/>
                <p:inputText id="razaoSocial" size="40" />

				<p:outputLabel value="CNPJ" for="cnpj"/>
				<p:inputMask mask="99.999.999/999-99" id="cnpj" size="20"/>
					
                <p:outputLabel value="Cidade do Contrato" for="cidadeContrato"/>
                <p:inputText id="cidadeContrato" size="30" />
                
                <p:outputLabel value="Modalidade" for="modalidade" />
				<h:panelGroup>
					<p:selectOneRadio id="modalidade">
						<f:selectItem itemLabel="Boleto" />
						<f:selectItem itemLabel="Cartão de Crédito" />
					</p:selectOneRadio>
				</h:panelGroup>

        	</h:panelGrid>
		</p:tab>
		
		<p:tab title="Contrato">
			<h:panelGrid columns="2" cellpadding="4">
			
            	<p:outputLabel value="Data do Contrato" for="dataContrato"/>
				<p:calendar id="dataContrato" required="true" 
						pattern="dd/MM/yyyy" mindate="01/01/1500" readonlyInput="true" navigator="true" pages="1" 
						mode="popup" locale="pt" effect="drop" yearRange="c-100:c" effectDuration="slow"
						onmousemove="true" />
						
				<p:outputLabel value="Valor do Contrato" for="valorContrato"/>
                <p:inputText id="valorContrato" size="10" />
                
                <p:outputLabel value="Método de Pagamento" for="metodoPagamento"/>
                <p:selectOneMenu id="metodoPagamento">
					<f:selectItem itemLabel="Selecione"/>
				</p:selectOneMenu>
				
				<p:outputLabel value="Forma de Pagamento" for="formaPagamento"/>
                <p:selectOneMenu id="formaPagamento">
					<f:selectItem itemLabel="Selecione"/>
				</p:selectOneMenu>
        	</h:panelGrid>
		</p:tab>
		
		<p:tab title="Serviços">
			<h:panelGrid columns="2" cellpadding="4">
			
            	<p:outputLabel value="Selecione os Serviços desejado" for="servicos"/>
            	<p:outputLabel value=""/>
            	
				<p:selectManyCheckbox id="servicos" layout="pageDirection">
					<f:selectItem itemLabel="Monitoramento" itemValue="1" />
					<f:selectItem itemLabel="Detecção de Doenças" itemValue="2" />
					<f:selectItem itemLabel="Análise de Colheita" itemValue="3" />
					<f:selectItem itemLabel="Outros" itemValue="4" />
			</p:selectManyCheckbox>
        	</h:panelGrid>
		</p:tab>
		
	</p:tabView>

    </ui:define>
</ui:composition>