<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<ui:define name="titulo">Cadastro de Cliente</ui:define>
	
	<ui:define name="corpo">
		<h:form>
			<h2>Cadastro de Cliente</h2>
			
			<p:toolbar style="margin-top: 20px">
				<f:facet name="left">
					<p:commandButton value="Pesquisar" outcome="/clientes/PesquisaCliente" styleClass="botao-havor"/>
				</f:facet>
				
				<f:facet name="right">
					<p:button value="Novo" outcome="/clientes/CadastroCliente"/>
				</f:facet>
			</p:toolbar>
			
			<p:panelGrid columns="2" id="painel" style="width: 99%; margin-top: 20px; margin-left: 10px" 
						 columnClasses="rotulo, campo">
					 
				<p:outputLabel value="Nome" for="nome"/>
				<p:inputText id="nome" size="80" maxlength="250"/>
			
				<p:outputLabel value="E-mail" for="email"/>
				<p:inputText id="email" size="80" maxlength="150"/>	
		
				<p:outputLabel value="Tipo" for="tipo" />
				<p:selectOneRadio id="tipo" value="#{clienteBean.tipoPessoa}"
					  			  styleClass="sem-borda">
					<f:selectItem itemLabel="Física" itemValue="Fisica" />
					<f:selectItem itemLabel="Jurídica" itemValue="Juridica" />
					<p:ajax update="grupoLabel, grupoInput" process="@this" />
				</p:selectOneRadio>
	
				<h:panelGroup id="grupoLabel">
					<p:outputLabel value="CPF" for="cpf"
								   rendered="#{clienteBean.tipoPessoa eq 'Fisica'}" />
					<p:outputLabel value="CNPJ" for="cnpj"
								   rendered="#{clienteBean.tipoPessoa eq 'Juridica'}" />
				</h:panelGroup>
				
				<h:panelGroup id="grupoInput">
					<p:inputMask mask="999.999.999-99" value="CPF" id="cpf"
						         rendered="#{clienteBean.tipoPessoa eq 'Fisica'}" />
					<p:inputMask mask="99.999.999/9999-99" value="CNPJ" id="cnpj"
								 rendered="#{clienteBean.tipoPessoa eq 'Juridica'}" />
				</h:panelGroup>
		</p:panelGrid>
			
		</h:form>
	</ui:define>
</ui:composition>