<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


	<ui:define name="titulo">Listagem de Endereço do Cliente</ui:define>
	
	<ui:define name="corpo">
		<h:form>
			<h2>Novo Cliente</h2>
			
			<p:toolbar style="margin-top: 20px">
				<f:facet name="left">
					<p:button value="Novo" outcome="/clientes/CadastroCliente"/>
					<p:commandButton value="Salvar"/>
				</f:facet>
				
				<f:facet name="right">
					<p:button value="Pesquisa" outcome="/clientes/CadastroCliente"/>
				</f:facet>
			</p:toolbar>
			
			<p:panelGrid columns="2" id="painel" style="width: 99%; margin-top: 20px; margin-left: 10px" 
						 columnClasses="rotulo, campo">
					 
				<p:outputLabel value="Nome" for="nome"/>
				<p:inputText id="nome" size="80" maxlength="250"/>
		
				<p:outputLabel value="Tipo" for="tipo" />
				<p:selectOneRadio id="tipo" value="#{clienteBean.tipoPessoa}"
					  			  styleClass="sem-borda">
					<f:selectItem itemLabel="Física" itemValue="Fisica" />
					<f:selectItem itemLabel="Jurídica" itemValue="Juridica" />
					<p:ajax update="grupoLabel, grupoInput" process="@this" />
				</p:selectOneRadio>
	
				<h:panelGroup id="grupoLabel">
					<p:outputLabel value="CPF" for="cpf"
								   rendered="#{clienteBean.tipoPessoa eq 'Fisica'}" />
					<p:outputLabel value="CNPJ" for="cnpj"
								   rendered="#{clienteBean.tipoPessoa eq 'Juridica'}" />
				</h:panelGroup>
				
				<h:panelGroup id="grupoInput">
					<p:inputMask mask="999.999.999-99" value="CPF" id="cpf"
						         rendered="#{clienteBean.tipoPessoa eq 'Fisica'}" />
					<p:inputMask mask="99.999.999/9999-99" value="CNPJ" id="cnpj"
								 rendered="#{clienteBean.tipoPessoa eq 'Juridica'}" />
				</h:panelGroup>
				
				<p:outputLabel value="E-mail" for="email"/>
				<p:inputText id="email" size="50" />	
				
				<p:commandButton value="Adicionar Endereço"/>
				<p:spacer />
		</p:panelGrid>
		</h:form>
		
		<p:dataTable id="tabelaProdutos" value="#{enderecoClienteBean.enderecoFiltrados}" var="produto"
					 style="margin-top: 20px" emptyMessage="Nenhum produto Encontrado!" rows="15" 
					 paginator="true" paginatorAlwaysVisible="false" paginatorPosition="top">
					 
			<p:column headerText="Lagradouro" style="text-align: center; width: 100px">
				<h:outputText value="Rua Sebastião Moreira da Silva"/>
			</p:column>
			
			<p:column headerText="Número" style="text-align: center; width: 100px">
				<h:outputText value="370"/>
			</p:column>
			
			<p:column headerText="Complemento" style="text-align: center; width: 250px">
				<h:outputText value="Casa"/>
			</p:column>
			
			<p:column headerText="CEP" style="text-align: center; width: 100px">
				<h:outputText value="37540-000"/>
			</p:column>
			
			<p:column headerText="Cidade/UF" style="text-align: center; width: 30px">
				<h:outputText value="Sta Rita"/>
			</p:column>
			
			<p:column style="text-align: center; width: 30px">
				<p:button icon="ui-icon-pencil" title="Editar"/>
				<p:commandButton icon="ui-icon-trash" title="Excluir"/>
			</p:column>

		</p:dataTable>
		
		
	</ui:define>
</ui:composition>