<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form id="frm">

		<p:ajaxStatus onstart="$('input').css('background-color', 'yellow')"
			          oncomplete="$('input').css('background-color', '')" />

		<p:messages autoUpdate="true" />
		<p:panelGrid columns="2">

			<p:outputLabel value="Login:" for="login" />
			<p:inputText id="login" value="#{cadastroUsuarioBean.login}"
				required="true">
				<p:ajax
					listener="#{cadastroUsuarioBean.verificarDisponibilidadeLogin}"
					event="change" process="@this" />
			</p:inputText>

			<p:outputLabel value="Nome" for="nome" />
			<p:inputText id="nome" value="#{cadastroUsuarioBean.nome}"
				required="true" />

		</p:panelGrid>

		<p:commandButton value="Cadastrar"
			action="#{cadastroUsuarioBean.cadastrar}" />

	</h:form>

</h:body>
</html>





