<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>

	<style>
		.ajax-style {
			width: 47px;
			height: 47px;
			position: fixed;
			right: 10px;
			top: 60px;			
		}
</style>

</h:head>
<h:body>

	<h:form id="frm">

		<p:ajaxStatus styleClass="ajax-style">
			<f:facet name="start">
				<h:graphicImage library="imagens" name="loading.gif" />
			</f:facet>
			<f:facet name="complete">
				<h:outputText value="" />
			</f:facet>
		</p:ajaxStatus>



		<p:messages autoUpdate="true" closable="true" />
		<p:panelGrid columns="2">

			<p:outputLabel value="Login:" for="login" />
			<p:inputText id="login" value="#{cadastroUsuarioBean.login}"
				required="true">
				<p:ajax
					listener="#{cadastroUsuarioBean.verificarDisponibilidadeLogin}"
					event="change" process="@this" />
			</p:inputText>

			<p:outputLabel value="Nome" for="nome" />
			<p:inputText id="nome" value="#{cadastroUsuarioBean.nome}"
				required="true" />

		</p:panelGrid>

		<p:commandButton value="Cadastrar"
			action="#{cadastroUsuarioBean.cadastrar}" />

	</h:form>

</h:body>
</html>





