<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
	<h:outputStylesheet library="css" name="stylesheet.css" />
</h:head>
<h:body>

	<h:form>
	<p:messages/>
		<p:panelGrid columns="2" id="frm" styleClass="posicao">
			
			<p:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" value="#{autoComplete.nome}"/>
			
			<p:outputLabel value="País" for="pais"/>
			<p:autoComplete id="pais" value="#{autoComplete.pais}" required="true"
							completeMethod="#{autoComplete.segerirPaises}"/>

		</p:panelGrid>
		<p:commandButton value="Cadastrar" action="#{autoComplete.cadastrar}" update="@form"/>
	</h:form>

</h:body>
</html>





