<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form>
	<p:messages/>
		<p:panelGrid columns="2" id="frm">
		
		<p:outputLabel value="Nome" for="nome"/>
		<p:inputText id="nome" required="true" value="#{perfilUsuarioBean.nome}"/>

		<p:outputLabel value="Estado" for="estado"/>
		<p:selectOneMenu id="estado" value="#{perfilUsuarioBean.estado}">
			<p:ajax event="change" process="@this" update="cidade"
					listener="#{perfilUsuarioBean.carregarCidades}"/>
			
			<f:selectItem itemLabel="Selecione" />
			<f:selectItems 	value="#{perfilUsuarioBean.estados}" var="estado" itemLabel="#{estado}" 
							itemValue="#{estado}" />
		</p:selectOneMenu>
				   
		<p:outputLabel value="Cidade" for="cidade"/>
		<p:selectOneMenu id="cidade" value="#{perfilUsuarioBean.cidade}">
			<f:selectItem itemLabel="Selecione" />
			<f:selectItems 	value="#{perfilUsuarioBean.cidades}" var="cidade" itemLabel="#{cidade}" 
							itemValue="#{cidade}" />	
		</p:selectOneMenu>
		</p:panelGrid>
		
		<p:commandButton value="Cadastrar" action="#{perfilUsuarioBean.cadastrar}"/>
		
	</h:form>

</h:body>
</html>





