<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Dashboard</ui:define>
	<ui:define name="corpo">
		
		<h2>
			<br/> <br/>Gráfico de Leituras Lidas<br/> <br/>
		</h2>
		
		<p:chart type="line" model="#{chartView.areaModel}" style="height:300px" />
	
	
	
	</ui:define>

</ui:composition>