<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Cadastro de Contratos</title>
	<h:outputScript library="script" name="script.js" />
</h:head>
<h:body>

	<h:form>
		<p:messages/>
		<p:panelGrid columns="2" id="frm">
		
			<p:outputLabel value="Razão Social" for="razaoSocial"/>
			<p:inputText id="razaoSocial" value="#{perfilUsuarioBean.razaoSocial}"/>
			
			<p:outputLabel value="CNPJ" for="cnpj"/>
			<p:inputMask id="cnpj" mask="99.999.999/9999-99" value="#{perfilUsuarioBean.cnpj}"/>
			
			<p:outputLabel value="Cidade do Contrato" for="cidadeContrato"/>
			<p:autoComplete id="cidadeContrato" value="#{perfilUsuarioBean.cidadeContrato}" 
						    completeMethod="#{perfilUsuarioBean.segerirCidades}"/>
						    
			<p:outputLabel value="Modalidade" for="modalidade"/>
			<h:panelGroup>
				<p:selectOneRadio id="modalidade" value="#{perfilUsuarioBean.modalidade}"
								  required="true" layout="pageDirection">
				<f:selectItem itemLabel="EAD" itemValue="EAD" />
				<f:selectItem itemLabel="Presencial" itemValue="Presencial" />
				</p:selectOneRadio>
			</h:panelGroup>
			
			<p:outputLabel value="Data do Contrato" for="dataContrato"/>
			<p:calendar id="dataContrato" required="true" value="#{perfilUsuarioBean.dataContrato}" 
						pattern="dd/MM/yyyy" mindate="01/01/1500" readonlyInput="true" navigator="true" pages="1" 
						mode="popup" locale="pt" effect="drop" yearRange="c-100:c" effectDuration="slow"
						onmousemove="true" maxdate="today"/>
						
			<p:outputLabel value="Valor do Contrato" for="valorContrato"/>
			<p:inputText id="valorContrato" value="#{perfilUsuarioBean.valorContrato}"/>
			
			<p:outputLabel value="Método Pagamento" for="metodoPagamento"/>
			<p:selectOneMenu id="metodoPagamento" value="#{perfilUsuarioBean.metodoPagamento}">
				<p:ajax event="change" process="@this" update="formaPagamento"
						listener="#{perfilUsuarioBean.carregarFormaPagamento}"/>
				
				<f:selectItem itemLabel="Selecione" />
				<f:selectItems 	value="#{perfilUsuarioBean.metodoPagamentos}" var="metodoPagamento" itemLabel="#{metodoPagamento}" 
								itemValue="#{metodoPagamento}" />
			</p:selectOneMenu>
			
			<p:outputLabel value="Forma Pagamento" for="formaPagamento"/>
			<p:selectOneMenu id="formaPagamento" value="#{perfilUsuarioBean.formaPagamento}">
				<f:selectItem itemLabel="Selecione" />
				<f:selectItems 	value="#{perfilUsuarioBean.formaPagamentos}" var="formaPagamento" itemLabel="#{formaPagamento}" 
								itemValue="#{formaPagamento}" />	
			</p:selectOneMenu>
			
		</p:panelGrid>
	
		<p:commandButton value="Cadastrar" action="#{perfilUsuarioBean.cadastrar}" update="@form" />		
	
	</h:form>

</h:body>
</html>





