<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nome:" />
			<h:inputText />

			<h:outputLabel value="Data Nascimento:" />
			<h:inputText />
		</h:panelGrid>

		<h:commandButton value="Cadastrar" />
	</h:form>

	<br />
	<br />

	<p:panelGrid columns="2">
		<p:outputLabel value="Nome" />
		<p:inputText />

		<p:outputLabel value="Data de nascimento" />
		<p:calendar />
	</p:panelGrid>
	<p:commandButton value="Cadastrar1" />

</h:body>
</html>





