<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form id="frm" >
	
		<p:messages id="msg" autoUpdate="true" />
		<p:growl id="growl" autoUpdate="true" sticky="true" />
		
		<p:panelGrid columns="2">
			
			<h:outputLabel value="Nome" for="nome"/>
			<p:inputText id="nome" required="true"/>
	
			<p:commandButton value="Enviar" />
			<p:spacer/>
			
		</p:panelGrid>
	</h:form>

</h:body>
</html>