<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
	<h:outputStylesheet library="css" name="style.css" />

</h:head>
<h:body>

	<p:messages />
	<h:form>

		<p:panelGrid columns="2">
			<f:facet name="header">
				<!-- Adiciona recursos no Cabeçalho -->
			Cadastro de Pessoas
			</f:facet>

			<p:outputLabel value="Nome" for="nome" />
			<p:inputText id="nome" required="true"
				value="#{cadastroAlunoBean.nome}" />

			<p:outputLabel value="Email" for="email" />
			<p:inputText id="email" required="true"
				value="#{cadastroAlunoBean.email}" />


			<f:facet name="footer">
				<p:commandButton value="Cadastrar" ajax="false" icon="meuicone"
					action="#{cadastroAlunoBean.cadastrar}" />
			</f:facet>

		</p:panelGrid>
	</h:form>

</h:body>
</html>