<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title></title>
</h:head>
<h:body>

	<h:form id="frm1">
		<p:panelGrid columns="4">
			<p:outputLabel value="Nome:" for="nome" />
			<p:inputText id="nome" value="#{inversaoNomeBean.nome}">
				<p:ajax listener="#{inversaoNomeBean.inverter}"
					update=":frm2:nomeInvertido" event="keyup" />
			</p:inputText>
		</p:panelGrid>
	</h:form>

	<br />
	<br />

	<h:form id="frm2">
		<h:outputText value="#{inversaoNomeBean.nomeInvertido}"
			id="nomeInvertido">
		</h:outputText>
	</h:form>

</h:body>
</html>





